<h1 style="margin-bottom:10px;">Creating Users</h1>
<center><h3 style="margin-top:10px;">After signing in, go <%= link_to "here", newuser_path %> to create a new user.</h3></center>
<div class="row">
  <div class="span4">
  <%= image_tag('add_users.png') %>
  </div>
  <div class="span5">
    <h4>You can create new user accounts for ward council members.</h4>
    <h4>Be sure to verify their email address before creating an account and notify the user of their email and password information.</h4>
    <h4>Remember that passwords must be at least six characters.</h4>
  </div> 
</div>
<div class="row" style="padding-top: 100px;">
  <div class="span2">
    <%= link_to "Back to Menu", tutorial_path(:type => "admin") %>
  </div>
  <div class="offset3 span4" style="text-align:right;">
    <%= link_to 'Continue to "Editing Users"', tutorial_path(:type => "edit_users") %>
  </div>
</div>