<h6>&nbsp</h6>
<h1 style="margin-bottom:10px;">Editing Users</h1>
<center><h3 style="margin-top:10px;">After signing in, go <%= link_to "here", users_path %> to select a user to edit.</h3></center>
<div class="row">
  <div class="span4">
  <%= image_tag('update_users.png') %>
  </div>
  <div class="span5">
    <h4>You can update user accounts for ward council members.</h4>
    <h4>If a member is having trouble accessing their account, you can reset their email address or password.</h4>
    <h4>Remember that passwords must be at least six characters.</h4>
  </div> 
</div>
<div class="row" style="padding-top: 100px;">
  <div class="span2">
    <%= link_to "Back to Menu", tutorial_path(:type => "admin") %>
  </div>
  <div class="offset3 span4" style="text-align:right;">
    <%= link_to 'Continue to "Changing Admin Rights"', tutorial_path(:type => "admin_users") %>
  </div>
</div>