<h1 style="margin-bottom:10px;">Editing Reported Activity</h1>
<center><h3 style="margin-top:10px;">After signing in, find activity you would like to edit <%= link_to "here", new_family_path %>.</h3></center>
<div class="row">
  <!-- make sure that the image is showing and that the tutorial content resolves the issue -->
  <div class="span5">
    <%= image_tag('edit_reports.png') %>
  </div>
  <div class="span4">
    <h4>You can edit reported activity by following the link under the "Visited?" column of any report.</h4>
    <h4>Make sure you save after editing any activity information.</h4>
  </div> 
</div>
<div class="row" style="padding-top:170px;">
  <div class="span2">
    <%= link_to "Back to Menu", tutorial_path %>
  </div>
</div>