<h6>&nbsp</h6>
<h1 style="margin-bottom:10px;">Finding Reports</h1>
<center><h3 style="margin-top:10px;">After signing in, find reports by clicking <%= link_to "here", reports_path %>.</h3></center>
<div class="row">
  <div class="span7">
	<%= image_tag('find_reports.png') %>
  </div>
  <div class="span2">
  	<h4>All activity reported by the ward council can be viewed in the "Find Reports" tab.</h4>
    <h4>Reports can be viewed by date, ranging from weekly to annual reports, or by family.</h4>
  </div> 
</div>
<div class="row" style="padding-top: 20px;">
  <div class="span2">
  	<%= link_to "Back to Menu", tutorial_path %>
  </div>
  <div class="offset3 span4" style="text-align:right;">
  	<%= link_to 'Continue to "Reporting New Activity"', tutorial_path(:type => "new_report") %>
  </div>
</div>