<h1 style="margin-bottom:10px;">Creating an Area Book</h1>
<center><h3 style="margin-top:10px;">After signing in, go <%= link_to "here", new_ward_path %> to create a new area book.</h3></center>
<div class="row">
  <!-- make sure that the image is showing and that the tutorial content resolves the issue -->
  <div class="span4">
    <%= image_tag('new_ward.png') %>
  </div>
  <div class="span5">
    <h4>Anyone can create a new area book. Use the name of your ward, assign it a handle (which is only used to uniquely identify a ward database) and a ward password.</h4>
    <h4>A ward password keeps all of the information about your members encrypted. This password is never stored on the server so share it only with those who need access to the area book's data.</h4>
    <h4>Because we never store any ward's password, these passwords can not be recovered. If you lose this password, you will permanently lose all area book data.</h4>
  </div> 
</div>
<div class="row" style="padding-top:80px;">
  <div class="span2">
    <%= link_to "Back to Menu", tutorial_path(:type => "admin") %>
  </div>
  <div class="offset3 span4" style="text-align:right;">
    <%= link_to 'Continue to "Editing Your Ward"', tutorial_path(:type => "edit_ward") %>
  </div>
</div>