<h1 style="margin-bottom:10px;">Signing Up</h1>
<center><h3 style="margin-top:10px;">Sign up for a new account <%= link_to "here", newuser_path %>.</h3></center>
<h3>&nbsp</h3>
<h4>New users can register a new account in one of two ways. The first is to use your lds.org credentials in order to verify your identity. This will automatically use your name and email address from lds.org in order to create your account. You will still have to create a password for your LDS Area Book account because, for security reasons, we do not store any of your lds.org credentials.</h4>
<h4>The second way to get a new account is to contact your ward clerk or area book administrator (in most cases this will be the same person). The  area book administrator has the ability to create accounts for new users without needing lds.org credentials to do so. If your ward has not yet set up an area book, a member of the bishopric or a ward clerk will have to register in order to create one.</h4>
<div class="row" style="padding-top: 50px;">
  <div class="span2">
  	<%= link_to "Back to Menu", tutorial_path %>
  </div>
  <div class="offset3 span4" style="text-align:right;">
  	<%= link_to 'Continue to "Trouble Signing In"', tutorial_path(:type => "sign_in") %>
  </div>
</div>