<h1 style="margin-bottom:10px;">Signing Up</h1>
<center><h3 style="margin:10px 0 50px 0;">Sign up for a new account <%= link_to "here", new_user_path %>.</h3></center>
<!-- make sure that the image is showing and that the tutorial content resolves the issue -->
<h4>Anyone can register a new account for free with just an email address.</h4>
<h4>You will still need to find the ward area book you would like to gain access to and request access in order to use it. You can also create your own ward area book at any time.</h4>
<div class="row" style="padding-top:230px;">
  <div class="span2">
  	<%= link_to "Back to Menu", tutorial_path %>
  </div>
  <div class="offset3 span4" style="text-align:right;">
  	<%= link_to 'Continue to "Trouble Signing In"', tutorial_path(:type => "sign_in") %>
  </div>
</div>