<h1 style="margin-bottom:10px;">Trouble Signing In</h1>
<center><h3 style="margin:10px 0 50px 0;">If you have trouble signing in, go <%= link_to "here", reset_path %>.</h3></center>
<!-- make sure that the tutorial content resolves the issue -->
<h4>If you have trouble logging in to your account, just follow the link above and enter your account's email address.</h4>
<h4>An email will be sent to you along with instructions on how to regain access to your account.</h4>
<div class="row" style="padding-top:210px;">
  <div class="span2">
  	<%= link_to "Back to Menu", tutorial_path %>
  </div>
  <div class="offset3 span4" style="text-align:right;">
  	<%= link_to 'Continue to "Requesting Ward Access"', tutorial_path(:type => "ward_access") %>
  </div>
</div>