<h6>&nbsp</h6>
<h1 style="margin-bottom:10px;">Updating Families</h1>
<center><h3 style="margin-top:10px;">After signing in, go <%= link_to "here", root_path %> to select a family for updating.</h3></center>
<div class="row">
  <div class="span4">
  <%= image_tag('update_family.png') %>
  </div>
  <div class="span5">
    <h4>Families can be edited by clicking on their name in any of the lists or reports.</h4>
    <h4>Families can also be removed from the ward or investigator lists and sent to the archive by pressing the yellow button.</h4>
    <h4>All reported activity for a family can be quickly accessed by pressing the gray button.</h4>
    <h4>If any changes are made to the family's information, be sure to press the blue button to save all changes.</h4>
  </div> 
</div>
<div class="row" style="padding-top: 30px;">
  <div class="span2">
    <%= link_to "Back to Menu", tutorial_path %>
  </div>
  <div class="offset3 span4" style="text-align:right;">
    <%= link_to 'Continue to "Archiving/Restoring Families"', tutorial_path(:type => "archive") %>
  </div>
</div>