<h1 style="margin-bottom:10px;">Accepting/Denying Users</h1>
<center><h3 style="margin-top:10px;">After signing in, go <%= link_to "here", users_path %> to accept or deny user access.</h3></center>
<div class="row">
  <!-- make sure that the image is showing and that the tutorial content resolves the issue -->
  <div class="span9">
    <%= image_tag('accept_users.png') %>
  </div>
</div>
<div class="row">
  <div class="span9">
    <h4>If users request access to your ward, the "Users" link at the top of the screen will turn red and indicate how many users are awaiting your response.</h4>
    <h4>You can accept or deny any request to receive access to your area book.</h4>
  </div> 
</div>
<div class="row" style="padding-top:40px;">
  <div class="span2">
    <%= link_to "Back to Menu", tutorial_path(:type => "admin") %>
  </div>
  <div class="offset3 span4" style="text-align:right;">
    <%= link_to 'Continue to "Removing/Deleting Users"', tutorial_path(:type => "remove_users") %>
  </div>
</div>