<h1 style="margin-bottom:10px;">The Ward List</h1>
<center><h3 style="margin-top:10px;">After joining a ward, go <%= link_to "here", root_path %> to view the ward list.</h3></center>
<div class="row">
  <!-- make sure that the image is showing and that the tutorial content resolves the issue -->
  <div class="span7">
    <%= image_tag('ward_list.png') %>
  </div>
  <div class="span2">
  	<h4>The ward list contains member information and the most recent activity information reported by the ward council.</h4>
  </div> 
</div>
<div class="row" style="padding-top:90px;">
  <div class="span2">
  	<%= link_to "Back to Menu", tutorial_path %>
  </div>
  <div class="offset3 span4" style="text-align:right;">
  	<%= link_to 'Continue to "Investigators"', tutorial_path(:type => "investigators") %>
  </div>
</div>