<% provide(:title, 'Contact') %>
<div class="row">
  <h7>&nbsp</h7>
</div>
<div class="container">
  <fullbody class="span11 fivethirtyhigh">
    <h1 style="margin:60px 0 30px 0;">Contact Me</h1>
    <div class="row">
    <div class="offset2 span7">
      <h4>In accordance with the requirements listed <%= link_to "here", "https://www.lds.org/pages/internet-usage-helps" %>, I am disclosing the following information:</h4>
      <h4>This website is not an official website of the Church of Jesus Christ of Latter-Day Saints.</h4>
      <h4>My name is Christopher Reynoso, I am a return missionary and currently serving as a Ward Clerk. I can be reached by email at <%= mail_to "reynoso@ldsareabook.org", "reynoso@ldsareabook.org" %>.</h4>
      <h4>I am happy to hear feedback and discuss ways to improve the area book to better serve the needs of local church leadership. However, bear in mind that I am providing this service free of charge and, like most of you, I do have a family, a calling, and a job, so I may not reply immediately, but I will get back to you. I hope you enjoy what I've enjoyed developing and utilizing in my own ward!</h4>
  </div>
  </div>
  </fullbody>
</div>