<% provide(:title, 'Contact') %>
<div class="container" style="margin-left:5px; margin-top:20px;">
  <fullbody class="span11" style="min-height:520px;">
    <h1 style="margin:60px 0 30px 0;">Contact Me</h1>
    <div class="row">
      <!-- provide disclaimers and personal contact info -->
      <div class="offset2 span7">
        <h4>In accordance with the requirements listed <%= link_to "here", "https://www.lds.org/pages/internet-usage-helps" %>, I am disclosing the following information:</h4>
        <h4>This website is not an official website of the Church of Jesus Christ of Latter-Day Saints.</h4>
        <h4>My name is Christopher Reynoso, I am a return missionary and currently serving as a Ward Clerk. I can be reached by email at <%= mail_to "reynoso@ldsareabook.org", "reynoso@ldsareabook.org" %>.</h4>
        <h4>I am happy to hear feedback and discuss ways to improve the area book to better serve the needs of local church leadership. If you would prefer to run your own website with an area book for your unit, check out the repository at <%= link_to "Github", "https://github.com/topherreynoso/LDS-Area-Book" %>. You will find all of the code that drives this site there. Feel free to fork it and roll your own area book website. I hope you enjoy what I've enjoyed developing and utilizing in my own ward!</h4>
      </div>
    </div>
  </fullbody>
</div>