<% provide(:title, 'Help') %>
<div class="row">
  <h7>&nbsp</h7>
</div>
<div class="container">
  <fullbody class="span11 fivethirtyhigh">
  	<h1>&nbsp</h1>
  	<h1>&nbsp</h1>
	<h1>Help</h1>
	<center>
	  <h4>The area book was created to help leaders track efforts to care for our ward.</h4>
      <h4>
        If you are a ward leader and have not received access, or if you are having trouble 
        <p>accessing the site, please contact <%= mail_to "topherreynoso@gmail.com", "Topher" %>.
      </h4>
    </center>
  </fullbody>
</div>