<div class="row">
  <h7>&nbsp</h7>
</div>
<div class="container">
  <fullbody class="span11 fivethirtyhigh">
  	<h1>&nbsp</h1>
  	<h1>&nbsp</h1>
	<h1>Welcome to the Area Book</h1>
	<h1>&nbsp</h1>
	<center>
  	  <%= link_to "Sign In", signin_path, class: "btn btn-large btn-primary" %>
 	</center>
  </fullbody>
</div>