<div class="row">
  <h7>&nbsp</h7>
</div>
<div class="container">
  <fullbody class="span11 fivethirtyhigh">
  	<h1>&nbsp</h1>
  	<h1>&nbsp</h1>
	<h1>Welcome to the Ward Area Book</h1>
	<h3>&nbsp</h3>
	<center>
  	  <%= link_to "Sign In", signin_path, class: "btn btn-large btn-primary" %>
  	  <h3>&nbsp</h3>
  	  <h3>or <%= link_to "learn more", help_path %></h3>
 	</center>
  </fullbody>
</div>