<div class="row">
  <div class="span11" style="position:relative; overflow:hidden;" id="families_x">
    <table class="table table-condensed table-hover">
      <!-- set up the header for each family that will be listed -->
      <thead style="width:1700px;">
        <tr>
          <th style="width:250px;">Family Name</th>
          <th style="width:250px;">Family Contact Info</th>
          <th style="width:250px;">Family Address</th>
          <th style="width:250px;">Child Names</th>
          <th style="width:100px;">Last Visited</th>
          <th style="width:100px;">Last Contact</th>
          <th style="width:500px;">Most Recent Notes</th>
        </tr>
      </thead>
      <tbody style="height:397px; position:relative; overflow:hidden;" id="families_y">
        <!-- show each family in the list -->
        <%= render @families %>
      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#families_x').perfectScrollbar({wheelSpeed:30, wheelPropagation:true});
    $('#families_y').perfectScrollbar({wheelSpeed:30, wheelPropagation:true});
  });
</script>