<div class="row">
  <div class="span12" style="overflow: auto;">
    <table class="table table-condensed table-hover">
      <thead class="eighteenfifty">  
        <tr>  
          <th class="twofifty">Family Name</th>  
          <th class="hundredfifty">Family Phone</th>  
          <th class="twofifty">Family Email</th>
          <th class="twofifty">Family Address</th>
          <th class="twofifty">Child Names</th>  
          <th class="hundred">Last Visited</th>
          <th class="hundred">Last Contact</th>
          <th class="fivehundred">Most Recent Notes</th>
        </tr>  
      </thead>
      <tbody class="eighteenfifty">  
        <%= render @families %>
      </tbody>
    </table>
  </div>
</div>