<% provide(:title, 'Ward Users') %>
<%= render 'layouts/tabs' %>
<div class="container" style="margin-left:5px;">
  <div class="row">
    <fullbody class="span11" style="position:relative; z-index:2; height:480px;">
      <h1>Ward Users</h1>
      <ul class="users" style="height:380px; position:relative; overflow:hidden;" id="users">
        <!-- show all users -->
        <% if !@users.nil? %>
          <%= render @users %>
        <% end %>
      </ul>
      <div class="span8 pull-right" style="text-align: right;">
        <% if !@users.nil? %>
          <!-- show pagination -->
          <%= will_paginate @users, :inner_window => 2, :outer_window => 1, style: "margin: 10px 20px 0 0;" %>
        <% end %>
      </div>
    </fullbody>
    <!-- show the alphabetical list to quickly find users -->
    <%= render 'layouts/alphabetically' %>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#users').perfectScrollbar({wheelSpeed:30, wheelPropagation:true});
  });
</script>