<% provide(:title, 'All Users') %>
<%= render 'layouts/tabs' %>
<div class="container">
  <fullbody class="span11 fivethirtyhigh">
    <% if current_ward.nil? %>
      <h1>All users</h1>
    <% else %>
      <h1>Ward users</h1>
    <% end %>
    <ul class="users" style="height:400px;">
      <% if !@users.nil? %>
        <%= render @users %>
      <% end %>
    </ul>
    <div class="span2">
      <h5><%= link_to "Add User", newuser_path, class: "btn btn-medium btn-primary" %></h5>
    </div>
    <div class="span8 pull-right" style="text-align: right;">
      <%= will_paginate @users, :inner_window => 2, :outer_window => 1, style: "margin: 10px 20px 0 0;" %>
    </div>
  </fullbody>
</div>