<% provide(:title, 'Regain Access') %>
<div class="container" style="margin-left:5px; margin-top:20px;">
  <fullbody class="span11" style="min-height:520px;">
    <!-- the user is having trouble logging in, help them get an email to regain access -->
    <h1 style="margin:130px 50px 50px 50px;">Trouble Signing In?</h1>
    <center>
      <h4>If you are having trouble accessing your account we'll help you regain access.</h4>
      <h4 style="margin-bottom:40px;">To receive an email with a link to help you log in, enter your address below.</h4>
      <%= form_tag send_reset_path do %>
        <%= text_field_tag :email, nil, :placeholder => "email address" %><%= submit_tag "Submit", :class => "btn btn-medium btn-primary", style: "margin:-3px 10px 10px 10px;" %>
      <% end %>
    </center>
  </fullbody>
</div>
