@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
  background: url('bkgd-bottom-3406931ebba9fad818ef9385c1df3afc.jpg') repeat-y;
  background-size: 100%; 
}

body {
  padding-top: 60px;
  height: 100%;
  background:  url('main-bkgd-6c484867f8b2b01276948baf4a769d38.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

fullbody {
  width:              100%;
  margin-top:         -25px;
  padding-top:        10px;
  padding-bottom:     10px;
  padding-left:       10px;
  padding-right:      5px;
  background:         url('gradient-tan-bottom-6de9fd7bfc4fa2ba705fbc95a7012b30.png') repeat-y;
  background-size:    100%;
  border-style:       solid;
  border-width:       7px;
  border-color:       white;
  -o-box-shadow:       -5px 5px 5px rgba(0,0,0,0.6);
  -icab-box-shadow:    -5px 5px 5px rgba(0,0,0,0.6);
  -khtml-box-shadow:   -5px 5px 5px rgba(0,0,0,0.6);
  -moz-box-shadow:     -5px 5px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow:  -5px 5px 5px rgba(0,0,0,0.6);
  box-shadow:          -5px 5px 5px rgba(0,0,0,0.6);
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

header {
  -o-box-shadow:      0px 5px 4px rgba(0,0,0,0.4);
  -icab-box-shadow:   0px 5px 4px rgba(0,0,0,0.4);
  -khtml-box-shadow:  0px 5px 4px rgba(0,0,0,0.4);
  -moz-box-shadow:    0px 5px 4px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 5px 4px rgba(0,0,0,0.4);
  box-shadow:         0px 5px 4px rgba(0,0,0,0.4);
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: rgba(77, 100, 142, 1.0);
  text-transform: uppercase;
  text-shadow: 1px 1px 0em white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: rgba(77, 100, 142, 1.0);
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayMediumLight;
  a {
    color: $grayMediumLight;
    &:hover { 
      color: $grayLight;
      text-decoration: none;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}



/* Users index */

.users {
  overflow: scroll;
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* Tables */

table{
  overflow: hidden; 
}

thead { 
  display: block;
  margin:0px;
  cell-spacing:0px;
  left:0px;
  overflow: hidden;
}

tbody { 
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px;
}

.fiftyhigh {
  height: 50px;
}

.threehundredhigh {
  height: 302px;
}

.threeeightytwohigh {
  height: 366px;
}

.fivethirtyhigh {
  height: 530px;
}

.fifty {
  width: 50px;
}

.hundred {
  width: 100px;
}

.hundredfifty {
  width: 150px;
}

.twofifty {
  width: 250px;
}

.fivehundred {
  width: 500px;
}

.twelvehundred {
  width: 1200px;
}

.fourteenfifty {
  width: 1450px;
}

.eighteenfifty {
  width: 1850px;
}

td { 
  margin: 0px;
  cell-spacing: 0px;
}

/* Nav-tabs */

.nav-tabs {
  li {
    -o-box-shadow:      -3px 3px 3px rgba(0,0,0,0.8);
    -icab-box-shadow:   -3px 3px 3px rgba(0,0,0,0.8);
    -khtml-box-shadow:  -3px 3px 3px rgba(0,0,0,0.8);
    -moz-box-shadow:    -3px 3px 3px rgba(0,0,0,0.8);
    -webkit-box-shadow: -3px 3px 3px rgba(0,0,0,0.8);
    box-shadow:         -3px 3px 3px rgba(0,0,0,0.8);
    padding-right:      3px;
    a {
      color: white;
      background-color: gray;
      text-shadow: 0.1em 0.1em 0em black;
      &:hover {
        color: black;
        text-shadow: 0.1em 0.1em 0em white;
      }
    }
  }

  .active a, .active > a:hover {
    background-color: white;
    text-shadow: 0.1em 0.1em 0em white;
  }
}

/* Drop up buttons */

.bottom-up {
  top: auto; 
  bottom: 100%;
}

.navbar .dropdown-menu.bottom-up:before { 
  border-bottom: 0px solid transparent !important; 
  border-top: 7px solid rgba(0, 0, 0, 0.2); 
  top: auto !important; 
  bottom: -7px; 
}

.navbar .dropdown-menu.bottom-up:after { 
  border-bottom: 0px solid transparent !important; 
  border-top: 6px solid white; 
  top: auto !important; bottom: -6px; 
}

/* Datepicker */

.datepicker-dropdown {  
  height: 222px;
}  
