<% provide(:title, 'Confirm Info') %>
<div class="row">
  <h7>&nbsp</h7>
</div>
<div class="container">
  <fullbody class="span11 fivethirtyhigh">
    <h3>&nbsp</h3>
    <h1>Register Your Ward</h1>
    <center><h4>Ward leaders with MLS access (e.g. Bishopric or Ward Clerks) can set up a new area book.</h4></center>
    <h3>&nbsp</h3>
    <div class="offset2 span7">
      <div class="span4">
        <h4><%= @unit_number %></h4>
        <h4><%= @ward_name %></h4>
      </div>
    </div>
  </fullbody>
</div>