<% provide(:title, 'All Wards') %>
<%= render 'layouts/tabs' %>
<div class="container" style="margin-left:5px;">
  <div class="row">
    <fullbody class="span11" style="position:relative; z-index:2; height:480px;">
      <h1>All Wards</h1>
      <div class="row">
        <!-- create a header for the ward info being displayed -->
        <div class="span11">
          <strong>
            <div class="span3">Ward Name</div>
            <div class="span1">Unit</div>
            <div class="span2">Admin</div>
            <div class="span3">Email</div>
          </strong>
        </div>
      </div>
      <div class="row">
        <div class="span11">
          <!-- show each ward in the database -->
          <ul class="users" style="height:365px; position:relative; overflow:hidden;" id="wards">
            <%= render @wards %>
          </ul>
          <!-- show pagination -->
          <div class="span8 pull-right" style="text-align:right;">
            <%= will_paginate @activities, :inner_window => 2, :outer_window => 1, style: "margin: 0 15px 0 0;" %>
          </div>
        </div>
      </div>
    </fullbody>
    <!-- show the alphabetical list to quickly find wards -->
    <%= render 'layouts/alphabetically' %>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#wards').perfectScrollbar({wheelSpeed:30, wheelPropagation:true});
  });
</script>