<% provide(:title, 'Unit Password') %>
<div class="row">
  <h7>&nbsp</h7>
</div>
<div class="container">
  <fullbody class="span11 fivethirtyhigh">
    <h1 style="margin: 120px 0 40px 0;">Enter Your Unit Password</h1>
    <center><h4>Your area book is encrypted with a unique password set by your area book administrator.</h4></center>
    <div class="offset2 span7">
      <h5 style="margin:20px 0 35px 0;">In order to access this area book, please enter your unit's password below. If your area book administrator has not shared this password with you yet, please contact them or a ward clerk to gain access.</h5>
    </div>
    <center>
      <%= form_tag confirm_password_path do %>
        <%= password_field_tag :password, nil, :placeholder => "area book password" %>
        <%= submit_tag "Confirm", :class => "btn btn-medium btn-primary", :style => "margin: -11px 0 0 0;" %>
      <% end %>
    </center>
  </fullbody>
</div>