<footer class="footer">
  <small>
    LDS Area Book is not endorsed by or affiliated with <%= link_to "lds.org", 'http://www.lds.org' %>.
  </small>
  <nav>
    <ul>
      &copy 2013
    </ul>
  </nav>
</footer>