<footer class="footer">
  <!-- show disclaimer -->
  <small>LDS Area Book is not endorsed by or affiliated with <%= link_to "lds.org", 'http://www.lds.org' %>.</small>
  <nav>
    <ul>&copy 2013</ul>
    <ul><%= link_to "Contact", contact_path %></ul>
    <ul><%= link_to "Terms", terms_path %></ul>
    <ul><%= link_to "Privacy", privacy_path %></ul>
  </nav>
</footer>