<footer class="footer">
  <small>
    Ward Area Book
    by Christopher Reynoso
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "lds.org", 'http://www.lds.org' %></li>
    </ul>
  </nav>
</footer>